<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Form Verilerini Göster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <h1>Formdan Gelen Veriler:</h1>

    {{ hata }} <br>
    <strong>Oda Tipi:</strong> {{ odatipi }} <br>
    <strong>Giris:</strong> {{ giristarih }} <br>
    <strong>Cikis :</strong> {{ cikistarih }} <br>
    <strong>Yetiskin Sayisi:</strong> {{ yetiskinsay }} <br>
    <strong>Cocuk Sayisi:</strong> {{ cocuksay }} <br>

</body>
</html>